<p-tabView>
    <p-tabPanel header="Create a New Challenge">
        <div class="tab-content">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/qs2HzP9Q9eg" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="text-container">
                <h2>Create a Challenge from Templates</h2>
                <p>Learn how to create a new challenge by choosing from a large selection of pre-made templates.</p>
                <p-button label="Create Challenge" icon="pi pi-play" class="p-button-rounded p-button-lg"></p-button>
            </div>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Create an Assignment">
        <div class="tab-content">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/rvNgZEiikEs" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="text-container">
                <h2>Create an Assignment</h2>
                <p>Learn how to create an assignment by selecting a pre-created challenge and choosing from a large
                    group of students.</p>
                <p-button label="Create Assignment" icon="pi pi-play" class="p-button-rounded p-button-lg"></p-button>
            </div>
        </div>
    </p-tabPanel>

    <p-tabPanel header="Manage Materials">
        <div class="tab-content">
            <div class="video-container">
                <iframe src="https://www.youtube.com/embed/u_TGZOlbfD8" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="text-container">
                <h2>Manage and Manipulate Materials</h2>
                <p>Learn how to manage materials and manipulate the grades for various exams related to those materials.
                </p>
                <h1></h1>
                <h1></h1>
                <p-button label="Create Material" icon="pi pi-play" class="p-button-rounded p-button-lg"></p-button>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>