<div class="general">
    <div class="quiz-container">

        <p-image src="../../assets/template image.png" width="320px" alt="Image" [preview]="true" />


        <div class="info">
            <div class="sous_info">
                <div class="bouton" style="display: flex;justify-content: space-between;align-items: center;">
                    <h2 style="color: aliceblue; font-size: 28px;margin: 0px;"
                        class="quiz-title">
                        Quiz 1</h2>
                    <button class="new-challenge-button">New
                        Challenge</button>
                </div>

                <p class="quiz-question">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tincidunt scelerisque turpis.
                    5. Who possesses thrift (The Almighty)

                </p>

                <div class="quiz-footer">
                    <span class="quiz-template">Quiz template, 4 choices</span>
                    <span class="quiz-all">ALL</span>
                </div>
            </div>
        </div>
    </div>
</div>